@model ihff.Models.LoginViewModel
@{
    ViewBag.Title = "LogIn";
}

<h2>Log In</h2>

@using (Html.BeginForm())
{
    @Html.LabelFor(m => m.Email)
    @Html.TextBoxFor(m => m.Email)
    @Html.ValidationMessageFor(m => m.Email)

    @Html.LabelFor(m => m.Password)
    @Html.TextBoxFor(m => m.Password)
    @Html.ValidationMessageFor(m => m.Password)
    
    @Html.LabelFor(m => m.RememberMe)
    @Html.CheckBoxFor(m => m.RememberMe)

    <br /><br />
    <input type="submit" value="Log in!" />
}

